
####### GITIGNORE for 42 #######

# Objects
*.o
*.d
*.obj

# Libraries
*.a
*.lib

# Folders
.vs_code/
#tests/ for now...

# MAC Finder
.DS_Store

# Subject PDF
*.subject.pdf

# Executables
*.out
minishell